body{
    background: #FF8427;
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #4D8B31;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
}

#productoDisplay{
    background: #FFC800;
    display: flex;
    margin: 0px auto;
    margin-top: 40px;
    width: 50%;
}

#imgDisplay{
    flex-grow: 1;
}

#imgDisplay img{
    width: 100%;
}

#infoDisplay{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoDisplay label{
    align-self: flex-start;
    margin-left: 20px;
}

#infoDisplay h1{
    margin: 10px;
    margin-bottom: 5px;
}

#infoDisplay p{
    margin-top: 5px;
    margin-bottom: 10px;
}

#precio{
    display: flex;
}

#carrito{
    width: 80%;
    margin: 0px auto;
}

#tablaCarrito{
    width: 100%;
    text-align: center;
}
#tablaCarrito thead{
    font-weight: 700;
}

td input{
    width: 50px;
}

.hidden{
    display: none !important;
}

#banner{
    margin: 0px auto;
    text-align: center;
}

#totalPago{
    /* text-align: right; */
    justify-content: flex-end;
    /* margin-right: 50px; */
}

/* button{
background-color: #FFC800 !important;
/* background-color: ; */
